<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="{$basePath}/css/style.css">

    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href="{$basePath}/css/jquery.faq.css" />
    <script type="text/javascript" src="{$basePath}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery.faq.js"></script>
    <script type="text/javascript">
        $().ready(function () {
            $('#faq').makeFAQ({
                displayIndex: true,
                faqHeader: "h2"
            });
        });
    </script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="{link index}">Seznam osob</a></li>
                <li><a href="{link add}">Nova osoba</a></li>
                <li><a href="{link vypisSchuzek}">Vypis schuzek</a></li>
                <li><a href='{link userList}'>USERS</a></li>                
            </ul>
            <ul class="nav navbar-nav navbar-right">               
                <li> {if isset($_SESSION['user'])}
                    <a href="{link logout}">                      
                        Logout: {$_SESSION['user']['login']}
                    </a>
                    {/if}
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {if isset($error)}
        <p class="alert alert-danger">
            {$error}
        </p>
        {/if}
    </div>

    {include body}
</body>
</html>